<div class="container mt-4">
    <h2>Edit Employee</h2>
  
    <form (submit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          class="form-control"
          [(ngModel)]="employee.name"
          name="name"
          required
          placeholder="Enter employee's name"
        />
      </div>
  
      <div class="form-group mb-3">
        <label for="location">Location:</label>
        <select
          id="location"
          name="location"
          [(ngModel)]="employee.location"
          class="form-select"
          required
        >
          <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
        </select>
      </div>
  
      <div class="form-group mb-3">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          [(ngModel)]="employee.email"
          required
          placeholder="Enter employee's email"
        />
      </div>
  
      <div class="form-group mb-3">
        <label for="mobile">Mobile:</label>
        <input
          type="text"
          id="mobile"
          class="form-control"
          name="mobile"
          [(ngModel)]="employee.mobile"
          required
          maxlength="10"
          placeholder="Enter employee's mobile number"
        />
      </div>
  
      <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  
    <div>
      <button class="btn btn-secondary" (click)="return()">Back</button>
    </div>
  
    <div *ngIf="!employee" class="alert alert-warning mt-3">
      Employee data not found! Redirecting to the employee list.
    </div>
  </div>
  